
.pointer {
    padding: 13px;
} 

.pointer:hover {
    cursor: pointer;
    border-radius: 4px;
    background-color: rgb(142, 92, 92);
}

.chats {
    text-align: center;
    margin: 0px;
    background-color:  rgb(102, 124, 190);
    padding: 10px;
    color: aliceblue;
    font-size: 20px;
    margin-top: 0.3rem;
}

.chats:hover {
  
    cursor: pointer;
    text-align: center;
    margin: 0px;
    background-color:  rgb(108, 129, 193);

    background-color: rgb(0, 7, 28);

    padding: 10px;
    color: aliceblue;
    font-size: 20px;
    margin-top: 0.3rem;
}

.text {
    min-height: 20rem;
    background-color: aliceblue
}

.input-text{
 
    bottom: 0;
}


.newMessage{
    background-color: rgb(180, 51, 51);
}